<header>
  <nav class="header-main">
    <%if (user_email === "ally@123.com") { %>
    <div class="nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/admin/messages">Messages</a>
      <a class="nav-item nav-link" href="/admin/add_listing">Add Listing</a>
    </div>
    <div class="title">
      <h3>Fake Kijiji</h3>
    </div>
    <%} else {%>
    <div class="nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/users/messages">Messages</a>
      <a class="nav-item nav-link" href="/users/favourite">Your Favorites</a>
    </div>
    <div class="title">
      <h3>Fake Kijiji</h3>
    </div>
    <% } %>
    <div class="navbar-nav">

      <% if (!user_email) { %>
      <div><a class="nav-item nav-link" href="/users/login">LOGIN</a></div>
        <% } else if (user_email === "ally@123.com") { %>
        <h2>HELLO</h2>
        <form class="form-inline" action="/logout" method="POST"></form>
        <div>Logged in as ADMIN: <%=user_email%></div>
        <div><a class="logout" href="/users/logout">Logout</a></div>
        <%} else {%>
        <form class="form-inline" action="/logout" method="POST"></form>
        <div>Logged in as: <%=user_email%></div>
        <div><a class="logout" href="/users/logout">Logout</a></div>
       <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
