<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <%if (user_email === "ally@123.com") { %>
    <div class="nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/admin/messages">Messages</a>
      <a class="nav-item nav-link" href="/admin/add_listing">Add Listing</a>
    </div>
    <div class="title">
      <h3>Fake Kijiji</h3>
    </div>
    <%} else {%>
    <div class="nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/users/messages">Messages</a>
      <a class="nav-item nav-link" href="/users/favourite">Your Favorites</a>
    </div>
    <div class="title">
      <h3>Fake Kijiji</h3>
    </div>
    <% } %>
    <div class="navbar-nav">
      <!-- <div><a class="nav-item nav-link" href="/users/login">LOGIN</a>
        </div>
        <div class="search">
        <textarea class="search" placeholder="search..."></textarea>
        <button class="btn-submit">Submit</button>

          <div>Logged in as: </div>
          <div class="search">
            <textarea class="search" placeholder="search..."></textarea>
            <button class="btn-submit">Submit</button>

    </div> -->

      <% if (!user_email) { %>
      <div><a class="nav-item nav-link" href="/users/login">LOGIN</a></div>
      <!-- <div class="search">
        <form class="filter-button" method="POST" action="/users/filter">
          <div class="filter-input">
            <input
              type="number"
              id="filter-min"
              name="minprice"
              placeholder="minprice"
            />
            <input
              type="number"
              id="filter-max"
              name="maxprice"
              placeholder="maxprice"
            />
            <button class="btn-submit">Submit</button>
          </div>
        </form> -->
        <!-- <button class="btn-filter" type="submit">Submit</button> -->
        <% } else if (user_email === "ally@123.com") { %>
        <h2>HELLO</h2>
        <form class="form-inline" action="/logout" method="POST"></form>
        <div>Logged in as ADMIN: <%=user_email%></div>
        <div><a class="nav-item nav-link" href="/users/logout">Logout</a></div>
        <%} else {%>
        <form class="form-inline" action="/logout" method="POST"></form>
        <div>Logged in as: <%=user_email%></div>
        <div><a class="nav-item nav-link" href="/users/logout">Logout</a></div>
        <div class="search">
          <form class="filter-button" method="POST" action="/users/filter">
            <div class="filter-input">
              <input
                type="number"
                id="filter-min"
                name="minprice"
                placeholder="minprice"
              />
              <input
                type="number"
                id="filter-max"
                name="maxprice"
                placeholder="maxprice"
              />
              <button class="btn-submit">Search</button>
            </div>
          </form>
          <button class="btn-filter">Filter By Price</button>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
