// See: https://sass-lang.com/
// @media on screen and (min-width: 1024px) {

// }
body {
  background-color: lightsteelblue;

  h1 {
    color: #244751;
  }
}

.header-main {
  width: 100%;
  background-color: rgb(216, 198, 176);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: centre;
}


.title {
color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2em;
}
